.container{
    height: 100%;
    width: 100%;
    padding: 15px;
}

#foto{
    width: 600px;
    height: 400px;
    border: 1px solid red;
    margin: 0 auto;
    text-align: center;
    padding: 40px 60px;
}

#pulsanti{
    width: 600px;
    height: 40px;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 5px 0;
    text-align: center;
}

/* andrà a lavorare solo sugli img */
#foto img{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

#testo {
    text-align: center;
}
